*{
	padding:0px;
	margin:0px;}
.nav{
	width:100%;
	height:160px;}
.nav .mi{
	display:block;
	width:30px;
	height:30px;
	margin-top:20px;
	margin-bottom:-100px;
	margin-left:150px;}
.navnav{
	float:right;}
.navnav a{
	text-decoration:none;
	color:#333333;}
.nav1{
	margin-top:70px;
	margin-left:300px;
	line-height:50px;
	float:left;
	}
.nav1 a{
	text-decoration:none;
	color: #000000;
	}

a:hover{
	color:#FF3300;}
.box{
	width:100%;
	height:1000px;
	background:no-repeat center center fixed;
	overflow:hidden;}
.box1{
	background-image: url(%E5%B0%8F%E7%B1%B35%E7%BD%91%E9%A1%B5%E5%9B%BE/h-12.jpg);
	height:800px;}
.box2{
	background-image: url(%E5%B0%8F%E7%B1%B35%E7%BD%91%E9%A1%B5%E5%9B%BE/h-8.jpg);
	height:800px;}
.box3{
	background-image: url(%E5%B0%8F%E7%B1%B35%E7%BD%91%E9%A1%B5%E5%9B%BE/h-13.jpg);
	height:800px;}
.box4{
	background-color:#666666;
	background-image: url(%E5%B0%8F%E7%B1%B35%E7%BD%91%E9%A1%B5%E5%9B%BE/h-18.png);
	height:800px;}
.box5{
	background-image: url(%E5%B0%8F%E7%B1%B35%E7%BD%91%E9%A1%B5%E5%9B%BE/h-24.jpg);
	height:800px;}
.box5h{
	margin:0px auto;
	margin-top:-600px;
	width:100%;
	float:left;}
.box5h .table{
	display:block;
	margin:0px auto;
	margin-top:600px;}
.box5h .d{
	background-color: #333333;
	width:60%;
	height:500px;
	text-align:center;
	margin-left:300px;
	margin-top:-750px;
	float:left;
	}
.box5h .d a{
	color:red;
	text-decoration:none;}
.box6{
	background-image: url(%E5%B0%8F%E7%B1%B35%E7%BD%91%E9%A1%B5%E5%9B%BE/h-21.jpg);
	height:800px;}
.box7{
	height:800px;
	width:100%;
	background-color:#EEEEEE;
	height:800px;
	text-align:center;
	}
.box7 .text{
	width:90%;
	height:450px;
	margin:0px auto;
	background-color:#FFFFFF;
	border: solid  #E1E1E1 2px;
	float:left;
	margin-left:60px;
	margin-top:70px;}
.box7 .boxin{
	width:80%;
	height:600px;
	margin:200px auto;
	background-color:#FFFFFF;
	float:left;
	margin-top:100px;
	margin-left:160px;
	}

.box8{
	height:800px;
	width:100%;
	background-color:#FFFFFF;
	height:800px;
	text-align:center;
	margin-left:50px;
	}
.box8 li{
	list-style:none;}
.box8 .b1{
	float:left;
	width:30%;
	margin-top:50px;
	}
.box8 .b2{
	float:left;
	width:30%;
	margin-top:50px;
	}
.box8 .b3{
	float:left;
	width:30%;
	margin-top:50px;
	}
.box8 .b{
	float:left;
	margin-left:120px;
	margin-top:-400px;}
.box8 .c1{
	border:solid #000000 10px;
	border-radius:10px;
	float:left;
	margin:0px auto;
	margin-top:420px;
	margin-left:50px;}
.box8 .c2{
	border:solid #CCCCCC 10px;
	border-radius:10px;
	float:left;
	margin:0px auto;
	margin-top:420px;
	}
.box8 .c3{
	border:solid #FFF0CA 10px;
	border-radius:10px;
	float:left;
	margin:0px auto;
	margin-top:420px;}
.box8 .c4{
	border:solid  #FFCCFF 10px;
	border-radius:10px;
	float:left;
	margin:0px auto;
	margin-top:420px;}
body{
	font-family:"微软雅黑";}
.box3,.box4,.box6 .text{
	text-align:center;}
.box .text h2{
	font-weight:400px;
	font-size:36px;
	color:#333;
	line-height:1.6em;}
.box .text p{
	font-size:16px;
	color:#333;
	line-height:1.8em;
	margin-top:25px;
	}
.box .text a{
	font-size:16px;
	color:#FF6700;
	text-decoration:none;}
.box1 .text{
	margin-left:20%;
	margin-top:20%;}
.box .text .price{
	color:#f00;
	font-size:14px;
	margin-top:30px;
	margin-bottom:20px;}
.box .text .price span{
	font-size:36px;}
.box2 .text{
	margin-left:70%;
	margin-top:5%;}
.box3 .text{
	margin-top:20%;
	text-align:center;}
.box4 .text{
	margin-top:5%;
	text-align:center;}
.box5 .text{
	margin-left:15%;
	margin-top:10%;}
.box6 .text{
	margin-top:5%;
	text-align:center;}